[submodule "DstDownloader"]
	path = DstDownloader
	url = https://github.com/ilyfairy/DstDownloader.git
[submodule "PrettyPrompt"]
	path = PrettyPrompt
	url = https://github.com/ilyfairy/PrettyPrompt.git
[submodule "GeoIP2-dotnet"]
	path = GeoIP2-dotnet
	url = https://github.com/ilyfairy/GeoIP2-dotnet
