[submodule "DstDownloader"]
	path = DstDownloader
	url = https://github.com/ilyfairy/DstDownloader.git
[submodule "PrettyPrompt"]
	path = PrettyPrompt
	url = https://github.com/ilyfairy/PrettyPrompt.git
[submodule "CSharpRepl"]
	path = CSharpRepl
	url = https://github.com/ilyfairy/CSharpRepl
