[submodule "DstDownloader"]
	path = DstDownloader
	url = https://github.com/ilyfairy/DstDownloader.git
[submodule "PrettyPrompt"]
	path = PrettyPrompt
	url = https://github.com/ilyfairy/PrettyPrompt.git
[submodule "GeoIP2-dotnet"]
	path = GeoIP2-dotnet
	url = https://github.com/ilyfairy/GeoIP2-dotnet
[submodule "DstDownloader/moonsharp"]
	path = DstDownloader/moonsharp
	url = https://github.com/ilyfairy/moonsharp
[submodule "DstDownloader/SteamDownloader/SteamKit"]
	path = DstDownloader/SteamDownloader/SteamKit
	url = https://github.com/ilyfairy/SteamKit
	branch = master