<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">
	<targets>
		<target name="file" xsi:type="File" 
				fileName="${baseDir}/Logs/${date:format=yyyy}-${date:format=MM}/day-${date:format=dd}.log" />
		<target name="console" xsi:type="ColoredConsole" layout="[${longdate} ${level}] ${message}" useDefaultRowHighlightingRules="false">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>
	<rules>
		<logger name="*" appendTo="file" />
		<logger name="*" appendTo="console" />
	</rules>
</nlog>